.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-container1 {
  display: flex;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: #bdbdbd;
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
}
.header-container {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  color: var(--dl-color-secondary-700);
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.header-navlink1 {
  font-size: 1rem;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.header-navlink1:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink2 {
  margin: var(--dl-space-space-halfunit);
  font-size: 1rem;
  align-self: center;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: -0.025rem;
  text-transform: none;
}
.header-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink3 {
  margin: var(--dl-space-space-halfunit);
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
}
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink4 {
  margin: var(--dl-space-space-halfunit);
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
}
.header-navlink4:hover {
  color: var(--dl-color-gray-500);
}
.header-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink5 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.header-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon2 {
  width: 24px;
  height: 24px;
}
.header-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-navlink6 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink6:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink7 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink7:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink8 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink8:hover {
  color: var(--dl-color-gray-500);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
  .header-menu {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-burger-menu {
    display: flex;
  }
}

.blog-post-card3-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1400px;
  flex-direction: row;
  justify-content: center;
}
.blog-post-card3-image {
  width: 500px;
  object-fit: cover;
}
.blog-post-card3-container {
  flex: 1;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card3-text {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.blog-post-card3-text1 {
  margin-bottom: 48px;
}
.blog-post-card3-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card3-text2 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-post-card3-text3 {
  color: var(--dl-color-gray-black);
  font-weight: 500;
}
.blog-post-card3-text4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
}



@media(max-width: 991px) {
  .blog-post-card3-image {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .blog-post-card3-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .blog-post-card3-image {
    width: 100%;
  }
  .blog-post-card3-container {
    width: 100%;
  }
  .blog-post-card3-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .blog-post-card3-text1 {
    margin-bottom: 32px;
  }
  .blog-post-card3-container1 {
    margin-bottom: 32px;
  }
}
@media(max-width: 479px) {
  .blog-post-card3-text3 {
    width: auto;
  }
}

.gallery-card21-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card21-container {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.gallery-card21-container:hover {
  opacity: 1;
}
.gallery-card21-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card21-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.gallery-card21-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: 24px;
}
.gallery-card21-text2 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery-card21-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card21-root-class-name {
  flex: 1;
}


.gallery-card21-root-class-name4 {
  flex: 1;
  height: 100%;
}

@media(max-width: 767px) {
  .gallery-card21-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card21-container {
    max-width: auto;
  }
  .gallery-card21-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
.footer-root-class-name {
  background-image: linear-gradient(90deg, rgb(122, 189, 249) 2.00%,rgb(0, 49, 89) 100.00%);
}
.footer-root-class-name1 {
  background-image: linear-gradient(90deg, rgb(122, 189, 249) 2.00%,rgb(0, 49, 89) 100.00%);
}
.footer-root-class-name2 {
  background-image: linear-gradient(90deg, rgb(122, 189, 249) 2.00%,rgb(0, 49, 89) 100.00%);
}

.apps-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.apps-container01 {
  flex: 0 0 auto;
  width: 1157px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.apps-hero {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.apps-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.apps-container02 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.apps-container03 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.apps-gallery {
  width: 100%;
  height: 1000px;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
}
.apps-container04 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.apps-container05 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.apps-container06 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.apps-container07 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.apps-container08 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.apps-container09 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.apps-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.apps-container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.apps-logo {
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.apps-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.apps-image {
  width: 171px;
  height: 117px;
  object-fit: cover;
}
.apps-image1 {
  width: 213px;
  height: 115px;
  object-fit: cover;
}
.apps-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.apps-container12 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.apps-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.apps-text {
  font-weight: 700;
  margin-bottom: 24px;
}
.apps-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.apps-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.apps-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.apps-container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.apps-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
.apps-text3 {
  font-weight: 700;
  margin-bottom: 24px;
}
.apps-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.apps-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.apps-text5 {
  font-weight: 700;
  margin-bottom: 24px;
}
.apps-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.apps-icon {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-unit);
}
.apps-icon2 {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-unit);
}
.apps-icon4 {
  width: 16px;
  height: 16px;
}
.apps-separator {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: var(--dl-color-gray-900);
}
.apps-text6 {
  align-self: center;
}
.apps-testimonials {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
}
.apps-bottom-wave-image {
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -205px;
  position: absolute;
  object-fit: cover;
}
.apps-image2 {
  top: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.apps-top-wave-image {
  top: -5px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .apps-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .apps-container09 {
    width: 100%;
  }
  .apps-footer {
    flex-direction: column;
  }
  .apps-container12 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .apps-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .apps-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .apps-gallery {
    padding-left: 32px;
    padding-right: 32px;
  }
  .apps-container05 {
    flex-direction: column;
  }
  .apps-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .apps-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .apps-logo {
    align-items: center;
  }
  .apps-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .apps-container12 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .apps-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .apps-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .apps-gallery {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .apps-container04 {
    width: auto;
  }
  .apps-footer {
    padding: var(--dl-space-space-unit);
  }
  .apps-container10 {
    align-items: center;
    flex-direction: column;
  }
  .apps-links-container {
    align-items: center;
    flex-direction: column;
  }
  .apps-container12 {
    margin-right: 0px;
  }
  .apps-container13 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .apps-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .apps-text6 {
    text-align: center;
  }
}
